*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    height: 70px;
    box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.315);
    position: fixed;
    background-color:green;
    width: 100%;
    border:2px solid rgba(0, 0, 0, 0.099);
    margin-bottom: 20px;
    z-index: 100;
    .container2{
        margin:0px auto;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .logo{
            padding-top: 10px;
        }
        .nav{
            ul{
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                padding-top: 10px;
                li{
                    padding:12px;
                    font-size: 14px;
                    font-weight: 300;
                    a{
                    text-decoration: none;
                    color:black;
                    }
                    
                    
                &.menu{
                    position: relative;
                    a:hover{
                        .drop{
                            opacity: 1;
                        }
                    }
               
                    .drop{
                        border:1px solid rgba(0, 0, 0, 0.423);
                        height: 50px;
                        position: absolute;
                        width:190px;
                        top:50px;
                        right:0;
                        opacity: 0;
                        
                       
                        p{
                            display: block;
                            margin-bottom: 10px;
                           
                        }
                // :hover.drop{
                //         opacity: 1;
                //         visibility: visible;
                //     }   
                    }
                }
                }
            }  
            }}
        }        
.phil{
    height: 700px;
   
    width: 100%;
   
    .qutu{
        margin:0 200px;
        width: 95%;
        display: flex;
        flex-wrap: wrap;
       align-items: center;
        .box-left{
            width: 43%;
            text-align: left;
            display: flex;
            flex-direction: column;
            
            // margin-top: 200px;
            h3{
                margin-bottom: 20px;
            }
            h1{
                font-size: 50px;
                margin-bottom: 20px;
            }
            p{
                color:gray;
                margin-bottom: 20px;
            }
            h4{
               background-color:#67B6FC;
               display: inline;
                padding: 10px;
                border:2px solid rgba(0, 0, 0, 0.012);
                width:40%;
                border-radius: 3px;
                color: white;
                text-align: center;
            }
        }
        .box-right{
            width: 55%;
           
        }
    }
    
}
#about{
    height: 500px;
    
    .box{
        margin:auto;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
       
        justify-content: space-between;
        align-items: center;
        
        .sekil{
            width: 50%;
        }
        .yazilar{
            width: 44%;
            h3{
                font-size: 20px;
                margin-bottom: 20px;
                font-weight: 200;
            }
            h1{
                font-size: 34px;
                margin-bottom: 20px;
            }
            p{
                font-size: 15px;
                margin-bottom: 27px;
                color:gray;
            }
            h4{
                border: 2px solid white;
                border-radius: 3px;
                background-color: #67B6FC;
                display: inline-block;
                width: 45%;
                padding: 15px;
                text-align: center;
                color: white;
                cursor: pointer;
            }

        }
    }
}
.offer{
    
    .box-yazi{
        text-align: center;
        margin-bottom: 45px;
        h2{
            font-size:35px;
            margin-bottom: 8px;
        }
    }
    .serhed{
        margin: auto;
        width: 65%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        
        .image1{
            width: 28%;
            
            margin-right: 50px;
            margin-bottom: 25px;
            i{
                font-size: 38px;
                color:black;
                margin-bottom: 20px;
                
            }
            p{
                color: gray;
            }
            h1{
                margin-bottom: 20px;
            }
        }
    }
}
.reqem{
    background-color:#8094FE;
    height: 300px;
    width: 100%;
    .qiraq{
        margin:auto;
        width:70%;
       
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height:300px;
        .data1{
            width: 25%;
            
            text-align: center;
            color:white;
            h1{
                font-size: 35px;
            }
            h5{
                font-size: 19px;
            }
        }
    }
}
.project{
    .written{
        margin-top: 70px;
        text-align: center;
        h1{
            margin-bottom: 12px;
        }
        h4{
            color:gray;
        }
    }
    .sozler{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin-top: 90px;
        // border:6px solid red;
        justify-content: center;
        margin-bottom: 50px;
        a{
            text-decoration: none;
            padding: 15px;
            color:black;
        }
    }
    .pict{
        margin-left:250px;
        width: 80%;
        // border: 7px solid red;
        display: flex;
        flex-wrap: wrap;
        .sekiller{
            width:30%;
            // margin-right: 1px;
            text-align: center;
            margin-bottom: 18px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            position: relative;
         
            img{
                vertical-align: middle;
                // width: 100%;
               
            }
            .bino{
                opacity: 0;
                background-color: #7EBCE7;
                position: absolute;
                height: 100%;
                width: 100%;
                display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
                    i{
                    font-size: 50px;
                }
            
            &:hover {
          
            opacity: 1;
            }
        }
            h1{
            margin-bottom: 10px;
        }
    }
}
}
.economy{
    .wri{
        margin-top: 150px;
        text-align: center;
        margin-bottom: 100px;
        h1{
            margin-bottom: 20px;
            font-size: 35px;
        }
        p{
            color: gray;
            font-size: 17px;
        }

    }
    .stat{
        margin: auto;
        width: 80%;
        border: 4px solid red;
        display: flex;
        flex-wrap: wrap;
        .econ{
            width: 20%;
            text-align: center;
            margin-right: 30px;
            transform: scale(1);
            .cevre{
                border-radius: 100%;
                display: inline;
                padding:46px 25px;
                background-color: #ad97fd;
                border: 1px solid rgb(0, 0, 0);
                margin-bottom: 80px;

            }
                h1{
                border-radius: 50%;
                display: inline;
                padding: 20px 25px;
                background-color: #97C5FD;
                border: 1px solid rgba(0, 0, 0, 0.444);
                font-size: 30px;
            }
            h3{
                margin-bottom: 20px;
                color: gray;
            }
            h4{
                color:gray;
                line-height: 29px;

            }
            h2{
               
                margin-top: 50px;
                margin-bottom: 17px;
            }
        &:hover{
            transform: scale(1,2);
            background-color: rgba(0, 0, 255, 0.273);
        }    
        }

    }
}
.logos{
    margin-top: 100px;
    background-color: #67B6FC;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .emblems{
        margin: auto;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        .mark{
            width: 19%;
        }
    }
}

































































